@import './cores_padroes.scss';

body{
    margin: 0;
    padding: 0;
    background-color: $rgb-azul-escuro;
    font-size: 1rem;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.container{
    width: 40%;
    min-width: 350px;
    max-width: 650px;
    margin: auto;
    padding-top: 50px;
}